* {
    padding: 0px;
    margin: 0px;
}
body {
    font: 16px/28px arial, sans-serif;
    background-image: url(webb.png);
    color: #333;
}

.container {
    width: 960px;
    margin: 80px auto;
    background-color: #fff;
    position: relative;
}
.topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: lightskyblue;
    z-index: 9999;

}
.twitter {
    width: 200px;
    height: 200px;
    background-image: url(riborn.png);
    display: inline-block;
    text-indent: -999px;
    position: absolute;
    top: 0px;
    right: -10px;
}

.header {
    padding: 20px;
    padding-bottom: 10px;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
}
.header ul li {
    display: inline-block;
    list-style: none;
    margin-top: 20px;
    margin-right: 5px;
}
.header a{
    text-decoration: none;
    color: salmon;
    padding: 3px;
}

.header a:hover {
    color: white;
    background-color: lightskyblue;
}
.hero {
    height: 400px;
    background-image:url(hero.jpg);
    background-size: cover;
    background-position:0 -130px ;
    border-top: 5px solid salmon;
    border-bottom: 5px solid skyblue;

}
.main {
    padding: 20px;
    width: 600px;
    box-sizing: border-box;
    float: left;

}
.main h2 {
    font-size: 20px;
    font-weight: bold;
}
.main .penulis {
    font-size: 11px;
    margin-top: -5px;
}
.main .penulis a {
    color: salmon;
    text-decoration: none;
}
.main p {
    margin-bottom: 20px;
    font-size: 14px;
}

.footer {
    background-color: #333;
    padding: 10px;
}

.footer .copy {
    color: #eaeaea;
    text-align: center;
    font-size: 12px;
}

.cf:before,
.cf:after {
    content: " ";
    display: table; 
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.sidebar img {
    width: 100px;
    float: left;
    padding-right: 10px;
}

.sidebar {
    width: 300px;
    float: right;
    padding: 20px;
}
.sidebar h3 {
    font-weight: bold;
}

.sidebar p{
    font-size: 17px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-indent: 15px;
}